.article-title {
    position: sticky;
    top: 0;
    text-align: center;
    margin-bottom: 1vh;
}

h1 {
    font-size: larger;
    font-weight: 700;
}

h2 {
    font-size: medium;
    font-weight: 500;
}
